<div class="slide-nav">
  <ul class="nav-links">
    <li>
      <a href="#"><i class="bi bi-house-door"></i> Trang chủ</a>
    </li>
    <li>
      <a href="/admin/course"><i class="bi bi-book"></i> Khóa học</a>
    </li>
    <li>
      <a href="/admin/chapter"><i class="bi bi-collection-play-fill"></i> Chương học</a>
    </li>
<!--    <li>-->
<!--      <a href="/admin/discuss"><i class="bi bi-chat"></i> Thảo luận</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="/admin/document"><i class="bi bi-file-earmark"></i>Tài liệu học tập</a>-->
<!--    </li>-->
    <li>
      <a href="/admin/assignment"><i class="bi bi-list-task"></i> Bài tập</a>
    </li>
  </ul>
</div>