<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chi tiết bài tập</title>
  <link rel="stylesheet" th:href="@{/css/admin_details_homeword.css}">
  <link rel = "icon" th:href="@{/img/f9.png}" type = "image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/menu.css}">
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
    <div th:replace="~{fragments/header}"></div>
    <div class="content d-flex">
    <div th:replace="~{fragments/menu :: left-menu}"></div>
        <div class="w-100">
            <div class="wrapperScreen">
                <div class="left-screen">
                    <div class="iconLeft">
                        <i class="bi bi-file-text" ></i>
                    </div>
                    <div class="component-main" style="width: 92%;">
                        <div class="header-component-main">
                            <div style="color: #F05123 ;font-size: 30px;font-weight: 500;" th:text="${assignment.assignTitle}"></div>
                            <div style="color: #9a9a9a ;font-size: 18px;font-weight: 350;"><span th:text="'Tên khóa học: ' + ${courseName}"></span></div>
                            <div style="color: #9a9a9a ;font-size: 18px;font-weight: 350;"><span th:text="'Tên giáo viên: ' + ${teacherName}"></span></div>
                            <div class="rowTime d-flex " style="justify-content: end;">
                                <div style="padding-left: 20px; font-size: 13px;">
                                    <span th:if="${assignment.deadline == null}">Không có hạn nộp</span>
                                    <span th:unless="${assignment.deadline == null}" th:text="'Đến hạn: ' + ${#dates.format(assignment.deadline, 'HH:mm dd-MM-yyyy')}"></span>
                                </div>
                            </div>
                            <div class="linestraight"></div>
                            <div style="margin-top: 20px; marigin-bottom: 20px">
                                <h3>Nội dung</h3>
                                <hr>
                                <p th:text="${assignment.assignDes}"></p>
                            </div>
                            <div style="margin-top: 20px; marigin-bottom: 20px">
                                <h3>Tài liệu tham khảo</h3>
                                <hr>
                                Không có :((
                            </div>

                        </div>
                        
                    </div>       
                    
                </div>
                <div class="right-screen">
                    <div class="component-file">
                        <div class="text-file">Bài tập của bạn</div>
                            <form onsubmit="return false;">
                                <input  type="file" id="file_homeword">
                                <button id="btnNopFile" onclick="submit()">Xác nhận nộp</button>
                            </form>
                    </div> 
                </div>
            </div>
        </div> 
    </div>  

  <script th:src="@{/js/header.js}"></script>
  <script th:src="@{/js/assignment_detail.js}"></script>
</body>
</html>
