<!DOCTYPE html>
<html>
    <head>
        <title>Trang quản lý - F8</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <script src="https://kit.fontawesome.com/69331f932b.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/admin.css}">
        <link rel="stylesheet" th:href="@{/css/header.css}">
    </head>
    <body>
        <div th:replace="~{fragments/header :: logined-header}"></div>
        <div class="main bg-light">
            <div th:replace="~{fragments/navbar_admin}"></div>

            <div class="content">
                <div class="course-wrapper px-5 py-4">
                    <div class="course-manager-section bg-white">
                        <div class="row">
                            <div class="col">
                                <h5>Quản lý khóa học</h5>
                                <p class="text-muted">Có <span id="course-number">0</span> khóa học</p>
                            </div>
                            <div class="col-auto me-auto">
                                <btn class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCourseModal">Thêm khóa học</btn>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="form-group has-search col-4">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" class="form-control" placeholder="Tìm kiếm khóa học" id="course-search">
                            </div>
                        </div>

                        <div class="row course-header">
                            <div class="col-1">
                                Avatar
                            </div>
                            <div class="col-3">
                                Mã khóa học
                            </div>
                            <div class="col-2">
                                Tên khóa học
                            </div>
                            <div class="col-2">
                                Mô tả
                            </div>
                            <div class="col-1">
                                Ngày tạo
                            </div>
                            <div class="col-2">
                                Khoa
                            </div>
                            <div class="col-1">
                                Thao tác
                            </div>
                        </div>
                        <div id="course-container">

                        </div>

                        <!-- Modal thêm khóa học-->
                        <div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Thêm khóa học</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form id="add-course-form" enctype="multipart/form-data">
                                    <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Tên khóa học</label>
                                                <input type="text" name="courseName" id="courseName" class="form-control" placeholder="" aria-describedby="helpId">
                                            </div>

                                            <div class="mb-3">
                                                <label for="" class="form-label">Avatar khóa học</label>
                                                <input type="file" name="courseAvt" id="courseAvt" class="form-control" placeholder="" aria-describedby="helpId" accept="image/png, image/gif, image/jpeg">
                                            </div>

                                            <div class="mb-3">
                                                <label for="" class="form-label">Mô tả</label>
                                                <input type="text" name="courseDes" id="courseDes" class="form-control" placeholder="" aria-describedby="helpId">
                                            </div>

                                            <div class="mb-3">
                                                <label for="" class="form-label">Chọn khoa</label>
                                                <select class="form-select" id="departmentId" name="departmentId">

                                                </select>
                                            </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Modal sửa khóa học-->

                        <div class="modal fade" id="editCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Sửa khóa học</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="" class="form-label">Tên khóa học</label>
                                            <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                                        </div>

                                        <div class="mb-3">
                                            <label for="" class="form-label">Avatar khóa học</label>
                                            <input type="file" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" accept="image/png, image/gif, image/jpeg">
                                        </div>

                                        <div class="mb-3">
                                            <label for="" class="form-label">Mô tả</label>
                                            <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                                        </div>

                                        <div class="mb-3">
                                            <label for="" class="form-label">Chọn khoa</label>
                                            <select class="form-select" name="" id="">
                                                <option selected>Công nghệ thông tin</option>
                                                <option value="">Điện tử viễn thông</option>
                                                <option value="">Tiếng Anh</option>
                                                <option value="">Giáo dục tiểu học</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Thêm</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal sửa học viên -->
                        <div class="modal fade" id="editStudent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5"><span>Lập trình ứng dụng</span></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="d-flex justify-content-between mb-3">
                                            <div>
                                                <h5>Danh sách học viên</h5>
                                                <p>Có 38 học viên</p>
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-success btn-sm">Thêm học viên</button>
                                            </div>

                                        </div>
                                        <div class="card-container d-flex flex-column" style="height: 100%; gap: 10px;">
                                            <div class="card">
                                                <div class="card-body d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">Học viên 1 (huykhaduy@gmail.com)</div>
                                                    <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Xóa</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal tài liệu học tập-->
                        <div class="modal fade" id="editDocument" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5"><span>Lập trình ứng dụng</span></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="d-flex justify-content-between mb-3">
                                            <div>
                                                <h5>Tài liệu học tập</h5>
                                                <p>Có 0 tài liệu học tập</p>
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-success btn-sm">Thêm học viên</button>
                                            </div>

                                        </div>
                                        <div class="card-container d-flex flex-column" style="height: 100%; gap: 10px;">
                                            <div class="card">
                                                <div class="card-body d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">Học viên 1 (huykhaduy@gmail.com)</div>
                                                    <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Xóa</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </body>
    <script th:src="@{/js/admin_course.js}"></script>
</html>