<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello boy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "icon" th:href="@{/img/f9.png}" type = "image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/course_intro.css}">
    <link rel="stylesheet" th:href="@{/css/course_intro_admin.css}">
</head>
<body>

    <div th:replace="~{fragments/header}"></div>
    <div class="content d-flex">
        <div th:replace="~{fragments/menu :: left-menu}"></div>
        <div class="w-100 d-flex mx-3 mt-4 align-items-center flex-column">
            <div class="container-nav d-flex justify-content-center">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/detail/{courseId}(courseId=${course.courseID})}">Bài học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/assignment/{courseID}(courseID=${course.courseID})}">Bài tập</a>
                    </li>
                </ul>
            </div>
            <div class="content-container d-flex justify-content-center">
            <div class="content-left">
                <h4 class="mt-2"><span th:text="${course.courseName}"></span></h4>
                <div>
                    Mã khóa học: <span th:text="${course.courseID}"></span>
                </div>
                <div class="mt-4">
                    <h5 class="mb-0">Danh sách bài tập</h5>
                </div>
                <div class="accordion mt-4" id="accordionExample">
                    <div class="accordion-item" th:each="assignment : ${assignments}">
                    <h2 class="accordion-header">
                        <button class="accordion-button d-flex overflow-x-auto collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#' + ${assignment.assignId}" aria-expanded="false" aria-controls="'#' + ${assignment.assignId}">
                        <div th:text="${assignment.assignTitle}" class="w-75 fs-5">Bài tập</div>
                        <div th:if="${assignment.deadline == null}" th:text="'Đăng vào: ' + ${#dates.format(assignment.createdDate, 'HH:mm | dd-MM-yyyy')}" class="flex-shrink-1 w-25 text-end pe-1" style="font-size: 12px;">Đăng vào: 09:30 | 17/05/2023</div>
                        <div th:unless="${assignment.deadline == null}" th:text="'Hạn nộp: ' + ${#dates.format(assignment.deadline, 'HH:mm | dd-MM-yyyy')}" class="flex-shrink-1 w-25 text-end pe-1" style="font-size: 12px;">Hạn nộp: 09:30 | 17/05/2023</div>
                        </button>
                    </h2>
                    
                    <div th:id="${assignment.assignId}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div th:text="${assignment.assignDes}" class="accordion-body overflow-y-auto" style="max-height: 200px;"> </div>
                        <div class="pt-2 pb-2 border-top">
                            <button type="button" class="btn btn-primary ms-2">Xem chi tiết</button>
                            <button type="button" class="btn btn-primary ms-2">Nộp bài</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="content-right mt-4">
                <div class="container_right_video">
                    <input type="file" name="uploadfile" id="img" class="d-none" accept="image/png, image/gif, image/jpeg"/>
                    <label for="img">
                        <img id="imgPreview" class="img-fluid img-select" th:src="${course.courseAvt}" alt="Hình ảnh" style="aspect-ratio: 16/9; border-radius: 10px; width: 100%">
                    </label>
                </div>
                <div class="course_information">
                    <div>
                        Giảng viên: <span th:text="${course.courseOwner.fullName}"></span>
                    </div>
                    <div>
                        Khoa: <span th:text="${course.department.departmentName}"></span>
                    </div>
                    <div>
                        Tổng số: <span class="total" th:text="${#lists.size(chapters)}"></span> bài học
                    </div>
                    <div>
                        Tài liệu tham khảo: <span th:text="${#lists.size(course.listDocuments)}"></span> tài liệu
                    </div>
                    <div>
                        Học viên: <span th:text="${#lists.size(course.enrollments)}"></span> học viên
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!--    Modal submit file    -->
    <div class="modal fade" id="addFileCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="formAddFile">
                    <input type="hidden" class="d-none" id="fileCourseId">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Thêm file</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Tải lên file</label>
                            <input type="file" class="form-control" id="fileId">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="btnAddFile">Xác nhận</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/assignment.js}"></script>
</body>
</html>
