<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F9 - Khóa học trực tuyến</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "icon" th:href="@{/img/f9.png}" type = "image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard_admin.css}">
</head>
<body>

<div th:replace="~{fragments/header}"></div>
<div class="content d-flex">
    <div th:replace="~{fragments/menu :: left-menu}"></div>
    <div class="w-100">
        <div class="course-wrapper">
            <div class="d-flex justify-content-between mb-3">
                <div class="d-flex" style="gap: 20px">
                    <h4>Khóa học của bạn đã tạo</h4>
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addCourseModal">Thêm khóa học</button>
                </div>

                <form method="get">
                    <select class="form-select form-department-select" name="khoa" onchange="this.form.submit()">
                        <option th:if="${khoaId == 0}" value="0" selected>Tất cả</option>
                        <option th:if="${khoaId != 0}" value="0">Tất cả</option>
                        <th:block th:each="department :${departments}">
                            <th:block th:if="${khoaId == department.departmentId}">
                                <option th:value="${department.departmentId}" th:text="${department.departmentName}" selected></option>
                            </th:block>
                            <th:block th:if="${khoaId != department.departmentId}">
                                <option th:value="${department.departmentId}" th:text="${department.departmentName}"></option>
                            </th:block>
                        </th:block>
                    </select>
                </form>
            </div>

            <div th:if="${#lists.isEmpty(courses)}" class="course-empty py-4 d-flex justify-content-center align-items-center flex-column">
                <img class="img-fluid" th:src="@{/img/empty.svg}" style="max-width: 480px; width:100%">
                <div class="mt-4">Chưa tham gia khóa học nào</div>
            </div>
            <div th:if="${not #lists.isEmpty(courses)}" class="course-list d-flex flex-wrap">
                <th:block th:each="course : ${courses}">
                    <div class="course-item position-relative">
                        <div class="dropdown position-absolute" style="top: 10px; right: 10px">
                            <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" th:attr="onclick=|openEditCourseModal('${course.courseID}')|">Sửa</a></li>
                                <li><a class="dropdown-item" href="#" th:attr="onclick=|removeCourse('${course.courseID}')|">Xóa</a></li>
                            </ul>
                        </div>
                        <a th:href="@{/admin/detail/{id}(id=${course.courseID})}">
                            <img th:src="${course.courseAvt}" class="img-fluid">
                            <h6 class="mt-3 text-dark" th:text="${course.courseName}"></h6>
                            <p class="text-small m-0 text-muted" th:text="${course.department.departmentName}"></p>
                        </a>
                    </div>
                </th:block>
            </div>

            <th:block th:if="${not #lists.isEmpty(courses) && #lists.size(courses) > 1}">
                <nav class="mt-3 d-flex justify-content-center align-items-center">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" th:href="@{'?khoa=' + ${khoaId} + '&page=' + ${currentPage - 1 < 1 ? 1 : currentPage - 1}}">Trước</a></li>
                        <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                            <li class="page-item">
                                <a th:if="${ i == currentPage }" class="page-link active" th:href="@{'?khoa=' + ${khoaId} + '&page=' + ${i}}" th:text="${i}"></a>
                                <a th:if="${ i != currentPage }" class="page-link" th:href="@{'?khoa=' + ${khoaId} + '&page=' + ${i}}" th:text="${i}"></a>
                            </li>
                        </th:block>
                        <li class="page-item"><a class="page-link" th:href="@{'?khoa=' + ${khoaId} + '&page=' + ${currentPage + 1 >= totalPages ? totalPages : currentPage + 1}}">Tiếp</a></li>
                    </ul>
                </nav>
            </th:block>
        </div>

    </div>

    <!--    Modal add khóa học-->
    <div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="formAddCourse">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm khóa học mới</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="courseName" class="form-label">Tên khóa học</label>
                            <input type="text" class="form-control" id="courseName" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="courseDes" class="form-label">Mô tả khóa học</label>
                            <input type="text" class="form-control" id="courseDes" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="courseAvt" class="form-label">Ảnh đại diện</label>
                            <input type="file" class="form-control" id="courseAvt" accept="image/png, image/gif, image/jpeg">
                        </div>
                        <div class="mb-3">
                            <label for="departmentId" class="form-label">Khoa của khóa học</label>
                            <select class="form-select" aria-label="Default select example" id="departmentId">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Thêm</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--    Modal edit khóa học-->
    <div class="modal fade" id="editCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="formEditCourse">
                    <input type="hidden" class="d-none" value="" name="courseID" id="editCourseId">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Sửa khóa học</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="editCourseName" class="form-label">Tên khóa học</label>
                            <input type="text" class="form-control" id="editCourseName" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="editCourseDes" class="form-label">Mô tả khóa học</label>
                            <input type="text" class="form-control" id="editCourseDes" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="editCourseAvt" class="form-label">Ảnh đại diện</label>
                            <input type="file" class="form-control" id="editCourseAvt" accept="image/png, image/gif, image/jpeg">
                        </div>
                        <div class="mb-3">
                            <label for="editDepartmentId" class="form-label">Khoa của khóa học</label>
                            <select class="form-select" aria-label="Default select example" id="editDepartmentId">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning" id="btnEditCourse">Sửa</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/main_admin.js}"></script>
</body>
</html>